body {
	background-color: lightgrey;
}
.container {
	display: flex;
	margin: 20px;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.box {
	background-color: lightsalmon;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	width: 250px;
	height: 250px;
}

.inner_box1 {
	background-color: #116466;
	width: 200px;
	height: 100px;
	border: 1px dotted black;
	overflow: visible;
	margin: 20px;
	
	color: white;
}
.inner_box2 {
	background-color: #116466;
	width: 200px;
	height: 100px;
	border: 1px dotted black;
	overflow: hidden;
	margin: 20px;
	
	color: white;
}
.inner_box3 {
	background-color: #116466;
	width: 200px;
	height: 100px;
	border: 1px dotted black;
	overflow: scroll;
	margin-top: 40px;
	margin-left: 20px;
	color: white;
}
.inner_box4 {
	background-color: #116466;
	width: 200px;
	height: 100px;
	border: 1px dotted black;
	overflow: auto;
	margin-top: 40px;
	margin-left: 20px;
	color: white;

}

h1 {
	text-align: center;
}
h2, p {
	margin: 10px;
	padding: 5px;
}